# Arquivos específicos do Eclipse
.classpath
.project
.settings/
bin/
*.tmp
*.bak
*.swp

# Arquivos de compilação Java
*.class
*.war
*.ear

# Arquivos de log
*.log

# Diretórios de build
target/
build/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDE
.idea/
*.iml

# Arquivos de configuração local
*.properties
*.prefs

# Arquivos temporários
*.~
*.orig
*.rej